* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background: #f1f1f1;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
}

.logo {
    color: #222;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 35%;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background: #f1f1f1;
    color: #222;
}

.burger-menu {
    cursor: pointer;
    display: none;
}

.burger-menu div {
    width: 1.5rem;
    height: 3px;
    background: #222;
    margin: 0.3rem;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        top: 10vh;
        height: 90vh;
        background: #222;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger-menu {
        display: block;
    }
}

.header-active {
    background: #222;
    transition: all 0.5s;
}

.color-active {
    color: #f1f1f1;
}

.nav-active {
    transform: translateX(0%);
}

.rotate .bar1 {
    transform:  rotate(-45deg) translate(-0.3rem, 0.4rem);
}

.rotate .bar2 {
    opacity: 0;
}

.rotate .bar3 {
    transform:  rotate(45deg) translate(-0.3rem, -0.4rem);

}

